<% @posts.each do |post| %>
  <section class="section">
    <div class="container">
      <div class="container columns is-mobile is-centered">
        <div class="column is-half box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <%= image_tag post.user.avatar if post.user.avatar.attached? %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= post.user.first_name %></strong> <small>@<%= post.user.username %></small> <small>31m</small>
                  <br>
                  <%= post.title %>
                  <p>
                    <%= post.content %>
                  </p>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
<% end %>
