<section class="section">
  <div class="container">
    <div class="container columns is-mobile is-centered">
      <div class="column is-half box">
        <%= form_with(model: post, local: true) do |form| %>
          <% if post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
              <ul>
                <% post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.label :title, class: "label" %>
            <div class="control">
              <%= form.text_field :title, class: "input" %>
            </div>
          </div>
          <div class="field">
            <%= form.label :content, class: "label" %>
            <div class="control">
              <%= form.text_area :content, class: "textarea" %>
            </div>
          </div>
          <div class="control">
            <%= form.submit class: "button is-primary"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
